@font-face{font-family:"Gilroy";src:url(/assets/fonts/Gilroy-Medium.ttf)}@font-face{font-family:"Montserrat";src:url(/assets/fonts/Montserrat-VariableFont_wght.ttf)}@font-face{font-family:"Inter";src:url(/assets/fonts/Inter-VariableFont_opsz\,wght.ttf)}*{-webkit-box-sizing:border-box;box-sizing:border-box}body{overflow-x:hidden;}:root{--red:rgba(254, 0, 0, 1);--red-opacity:rgba(254, 0, 0, 0.5);--linear-black:linear-gradient(101.84deg, #161114 0.21%, #464149 99.79%);--black:rgba(0, 0, 0, 1);--gray:rgba(126, 126, 126, 1);--white-light:rgba(240, 241, 246, 1);--white:rgba(255, 255, 255, 1)}h1{margin:0}html,body{height:100%;margin:0;padding:0;font-family:"Montserrat",sans-serif;font-size:10px}@media screen and (max-width:1199px){.container{max-width:280px;margin:0 auto}}@media screen and (min-width:1200px){.container{max-width:1200px;margin:0 auto}}.text_underline{text-decoration:underline;-webkit-text-decoration-style:solid;text-decoration-style:solid}.f_400{font-weight:400}.f_500{font-weight:500}.f_600{font-weight:600}.f_700{font-weight:700}.f_900{font-weight: 900;}
.btn {
  padding: 20px 40px;
  color: var(--white);
  background: var(--red);
  font-size: 18px;
  text-transform: uppercase;
  line-height: 100%;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 
    background 0.4s ease,
    color 0.4s ease,
    transform 0.3s ease,
    box-shadow 0.3s ease;
}
input{
  border:1px solid var(--red);
  border-radius: 10px;
  padding:20px 40px;
  font-size:18px;
  text-align: center;
}
input::placeholder{
  font-size:18px;
  font-weight: 500;
  color: var(--gray);
  text-align: center;
}
input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  width: 24px;
  height: 24px;
  border: 1px solid var(--red);
  background-color: transparent;
  cursor: pointer;
  position: relative;
  padding: 0;
  margin: 0;
  border-radius: 5px;
}
input[type="checkbox"]:active {
  background-color: transparent;
}
input[type="checkbox"]:checked::after {
  content: "";
  position: absolute;
  left: 8px;
  top: 2px;
  width: 6px;
  height: 12px;
  border: solid var(--red);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.scroll_link{
  cursor: pointer;
}
.btn:hover {
  background: var(--white);
  color: var(--red);
  transform: translateY(-3px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}
.nav_link:hover, .menu .nav_link:hover{
  color:var(--red);
  transition: color .3s;
}
/*шапка*/
.header,.header_info{-webkit-box-align:center}.mark,.social_btn{border-radius:50%}#menu-toggle,.mobile-menu{position:relative;z-index:100}.contacts,.menu{-webkit-box-orient:vertical;-webkit-box-direction:normal}.header{background:var(--white);padding:23px 0;display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-align:center;align-items:center}.header_info,.header_inner{display:-webkit-box;display:-ms-flexbox}.header_inner{display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;-webkit-box-align:center;-ms-flex-align:center;align-items:center;gap:63px}.header_logo img{max-width:100%}.header_info{display:flex;-ms-flex-align:center;align-items:center;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;gap:83px}.mark,.rating,.social{display:-webkit-box;display:-ms-flexbox;-webkit-box-align:center}.rating,.social{display:flex;-ms-flex-align:center;align-items:center;gap:11px}.mark{background:var(--red);width:60px;height:60px;display:flex;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}.contacts,.social_btn{display:-webkit-box;display:-ms-flexbox}.mark_text{font-size:12px;line-height:18px;letter-spacing:.12px;width:124px}.social_btn{background:var(--black);width:46px;height:46px;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}#menu-toggle,.menu_line{background:var(--white-light)}.social-icon{width:-webkit-max-content;width:-moz-max-content;width:max-content;height:-webkit-max-content;height:-moz-max-content;height:max-content}.contacts{display:flex;-ms-flex-direction:column;flex-direction:column;-webkit-box-align:end;-ms-flex-align:end;align-items:flex-end;gap:8px}.numbers{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;gap:8px;font-size:16px;text-align:right}#menu-toggle,.burger{display:none}.numbers span{font-size:20px}.link_number{font-size:14px;color:var(--red)}#menu-toggle{width:48px;height:48px;border:none;border-radius:50%;cursor:pointer}.mobile-menu{overflow:visible;max-height:0;opacity:0;visibility:hidden;-webkit-transition:max-height .4s,opacity .4s,visibility .4s,-webkit-transform .4s;transition:max-height .4s,opacity .4s,transform .4s,visibility .4s,-webkit-transform .4s;-o-transition:max-height .4s,opacity .4s,transform .4s,visibility .4s}.mobile-menu.active{max-height:1000px;opacity:1;visibility:visible}.menu_line{height:1px}.menu{position:absolute;width:100vw;background:var(--white);padding:20px 0;z-index:10;border-radius:0 0 20px 20px;display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-direction:column;flex-direction:column;-webkit-box-align:center;-ms-flex-align:center;align-items:center;gap:16px}.menu .nav_link{font-family:'Inter';padding:16px 0;font-size:16px;text-transform:uppercase;color:var(--black);text-decoration:none}@media (max-width:1199px){.header,.header_inner{padding:10px 0;gap:21px}.header_info{display:none}.header_logo img{width:211px}.burger{display:-webkit-box;display:-ms-flexbox;display:flex;width:48px;height:48px;background:var(--white-light);border-radius:50%;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center}.social{padding:16px 0;gap:16px}.social_btn{width:24px;height:24px}#menu-toggle{display:block}}    
/*интро*/
.intro_case,.nav{-webkit-box-orient:horizontal;-webkit-box-direction:normal}.case_text,.intro_case,.nav{-webkit-box-direction:normal}.intro_btn,.intro_cases{margin-top:40px}.home{background:var(--linear-black);padding-bottom:95px;height:640px}.nav{padding:20px 0;display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-direction:row;flex-direction:row;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;border-top:2px solid var(--gray);border-bottom:2px solid var(--gray)}.nav_link{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;width:200px;color:var(--white);font-family:Inter,sans-serif;font-size:16px;line-height:100%;text-transform:uppercase;text-decoration:none}.intro{padding-top:40px;position:relative}.intro_title,.intro_title_mobile span{color:var(--red)}.intro_title{font-size:55px;line-height:100%;color:var(--white)}.intro_cases_mobile,.intro_title_mobile{display:none}.intro_cases{display:-ms-grid;display:grid;-ms-grid-columns:1fr 40px 1fr;grid-template-columns:repeat(2,1fr);gap:40px;max-width:448px}.case_icon,.intro_case{display:-webkit-box;display:-ms-flexbox}.intro_case{display:flex;-ms-flex-direction:row;flex-direction:row;gap:8px}.case_icon{width:70px;height:70px;border-radius:10px;background:var(--white);display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}.case_text{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}.case_title{font-size:24px;line-height:100%;color:var(--red)}.case_subtitle{font-size:16px;line-height:20px;color:var(--white)}.image_wrapper img:first-child{position:absolute;top:85px;left:401px;overflow:hidden}.image_wrapper img:nth-child(2){position:absolute;top:189px;left:722px;overflow:hidden;z-index:15}@media screen and (max-width:1199px){.intro_cases,.intro_title,.nav{display:none}.home{padding-bottom:0;height:auto}.intro{padding:20px 0}.intro_title_mobile{display:block;font-size:15px;font-weight:900;color:var(--white)}.intro_cases_mobile{display:-ms-grid;display:grid;-ms-grid-columns:1fr 23px 1fr;grid-template-columns:repeat(2,1fr);gap:23px;max-width:268px;margin-top:10px}.intro_cases_mobile .case_icon{width:42px;height:42px}.intro_cases_mobile .case_text .case_title{font-size:14px}.intro_cases_mobile .case_text .case_subtitle{font-size:10px;line-height:100%;max-width:77px}.intro_case{gap:4px}.intro_btn{margin-top:128px;font-size:12px}.image_wrapper img:first-child{width:249px;top:166px;left:-23px}.image_wrapper img:nth-child(2){width:230px;top:195px;left:66px}}
/*опрос*/

.questionnaire{
    height: 868px;
    margin-top: 100px;
}


.car_slider_list{
    height:800px;
    background-image:
    linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 68%, #FFFFFF 100%),
    url("/assets/images/bg1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: normal; 
  margin-top:50px; 
}


.otzivi{
    height:1369px;
    background-image:
    linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 36%, #FFFFFF 100%),
    url("/assets/images/bg2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: normal; 
  margin-top:50px; 
}
/*Форма*/
.form {
  height: 745px;
  background-image:
    linear-gradient(270deg, rgba(0, 0, 0, 0) 52.5%, #000000 77.5%),
    url("/assets/images/bg3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: normal;
  margin-top: 50px;
  color: var(--white);
}

.form_inner {
  padding-top: 45px;
}

.wrapper_image_form {
  position: relative;
}

.wrapper_image_form img {
  position: absolute;
  top: 44px;
  left: 834px;
}

.form_title {
  font-size: 40px;
  line-height: 100%;
}

.form_subtitle {
  font-size: 22px;
  line-height: 100%;
  margin-top: 10px;
}

.form_points {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  gap: 20px;
}

.form_point {
  font-size: 18px;
  line-height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  font-family: 'Gilroy';
}

.form_point span {
  max-width: 407px;
}

.form_point:first-child span {
  max-width: 554px;
}

.form_point:nth-child(2) span {
  max-width: 367px;
}

#form {
  width: 600px;
  height: 338px;
  border-radius: 20px;
  background: var(--white);
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  color: var(--black);
}

.form_name {
  font-size: 28px;
  line-height: 100%;
}

.form_subname {
  font-size: 18px;
  line-height: 100%;
  width: 384px;
  text-align: center;
  margin-top: 10px;
}

.inputs {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.inputs input {
  width: 270px;
  height: 62px;
}

.checkbox {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.checkbox_text {
  width: 469px;
  font-size: 12px;
}

.btn_form {
  height: 62px;
}

.btn_form{
  display: flex;
  width: 100%;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}

.btn_form_mob{
  display: none;
}

.form_image_block {
  width: 455px;
  height: 65px;
  border-radius: 20px;
  background: var(--black);
  position: absolute;
  z-index: 100;
  top: 587px;
  left: 865px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form_image_block span:first-child {
  font-size: 24px;
  color: var(--red);
}

.form_image_block span:last-child {
  font-size: 18px;
  color: var(--gray);
}

@media screen and (max-width: 1199px) {
  .form {
    height: 929px;
    background-image:
      linear-gradient(to bottom, #000 0%, #000 51%, transparent 51%, transparent 100%),
      url("/assets/images/bgshape2.png");
    background-repeat: no-repeat;
    background-size: 100% 100%, 100% 50%;
    background-position: top, bottom;
  }

  .form_inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
  }

  .form_title {
    font-size: 15px;
    width: 158px;
    font-weight: 900;
  }

  .form_subtitle {
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    margin-top: 5px;
  }

  .form_subtitle span {
    font-weight: 500;
  }

  .form_points {
    margin-top: 20px;
  }

  .form_point span {
    font-size: 12px;
    font-weight: 500;
  }

  .form_point img {
    width: 28px;
  }

  .form_point:nth-child(2) span {
    max-width: 213px;
  }

  #form {
    width: 280px;
    height: 220px;
  }

  .form_name {
    font-size: 16px;
  }

  .form_subname {
    font-size: 12px;
    width: 255px;
    margin-top: 5px;
  }

  .inputs {
    flex-direction: column;
  }

  .checkbox {
    display: none;
  }

  .wrapper_image_form img {
    width: 320px;
    left: -163px;
    top: 520px;
  }

  .form_image_block {
    width: 320px;
    height: 56px;
    border-radius: 20px 20px 0 0;
    left: -160px;
    top: 853px;
  }

  .form_image_block span:first-child {
    font-size: 16px;
  }

  .form_image_block span:last-child {
    font-size: 12px;
    font-weight: 500;
    line-height: 26px;
  }

  .btn_form {
    display: none !important;
  }

  .btn_form_mob{
    display: flex !important;
    justify-content: center;
  align-items: center;
  font-size:12px;
  width: 260px;
  padding:10px 0;
  height: 35px;
  margin-top:10px;
  }
  .inputs input{
    height: 35px;
    width: 260px;
    font-size:12px;
    padding:10px 0;
  }
  .inputs input::placeholder{
    font-size:12px;
  }
  .inputs{
    gap:5px;
  }
}

/*карта*/
.map,.map_inner{position:relative}.map{margin-bottom:0}.map iframe{border:none;width:100%;height:780px}.map .container{position:absolute;top:0;left:50%;-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%);width:100%;z-index:10;pointer-events:none}.map_point{position:absolute;z-index:50;background:var(--black);padding:20px 40px;width:363px;height:223px;border:2px solid var(--red);color:var(--white)}.map_point:first-child{top:162px;border-bottom:0;border-radius:10px 10px 0 0}.map_point:last-child{top:395px;border-top:0;border-radius:0 0 10px 10px}.map_town{font-size:32px;line-height:100%;color:var(--white)}.map_line{height:2px;margin-top:10px;width:100%;background:var(--white)}.map_info{margin-top:20px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;gap:20px;color:var(--gray);font-size:20px}.call,.gps,.mail{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;gap:4px}@media screen and (max-width:1199px){.map iframe{height:326px}.map{margin-bottom:328px}.map_point{width:280px;height:196px;padding:20px}.map_town{font-size:16px}.map_line{width:180px}.map_info{font-size:12px}}
/*footer*/
.footer {
background-color: var(--black);
height: 511px;
}
.footer_inner {
padding: 40px 0;
}
.footer_nav {
margin-top: 40px;
display: flex;
flex-direction: row;
}
.nav_section {
display: flex;
flex-direction: column;
}
.nav_title h1 {
font-size: 24px;
line-height: 100%;
text-transform: uppercase;
color: var(--white);
}
.nav_links {
display: flex;
flex-direction: column;
gap: 10px;
margin-top: 20px;
}
.nav_links span {
color: var(--gray);
font-size: 16px;
line-height: 100%;
}
.nav_links_mobile_ver span{
color: var(--gray);
font-size: 16px;
line-height: 100%; 
}
.nav_section:nth-child(2) {
margin-left: 124px;
margin-right: 74px;
}
.nav_section:last-child {
display: flex;
align-items: end;
margin-left: 184px;
}
.nav_contact {
display: flex;
flex-direction: column;
align-items: end;
}
.nav_social {
display: flex;
flex-direction: column;
margin-top: 40px;
}
.social_icons {
display: flex;
flex-direction: row;
justify-content: end;
gap: 20px;
margin-top: 20px;
}
.social_frame {
width: 32px;
height: 32px;
display: flex;
align-items: center;
justify-content: center;
}
.footer_line {
background: var(--white-light);
height: 2px;
margin-top: 40px;
}
.footer_down {
margin-top: 40px;
display: flex;
justify-content: space-between;
}
.footer_down span {
font-size: 14px;
line-height: 100%;
color: var(--white);
}
.nav_links_mobile_ver{
    display: none;
}
@media screen and (max-width:1199px){
    .footer{
        height: 688px;
    }
    .footer_inner{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .footer_logo img{
        width:140px;
    }
    .footer_nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .nav_section:nth-child(1) .nav_links{
        display: none;
    }
    .nav_links span{
        font-size:12px;
    }
    .nav_links_mobile_ver span{
        font-size:12px;
    }
    .nav_links_mobile_ver{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap:5px;
    }
    .nav_links_mobile_ver span{
        width:max-content;
    }
    .nav_section:nth-child(1) .nav_links span{
        width:max-content;
    }
    .nav_section:nth-child(2) {
        margin-left: 0px;
        margin-right: 0px;
    }
    .nav_section:last-child {
        margin-left: 0px;
    }
    .nav_section .nav_title, .nav_section .nav_links span{
        display: flex;
        justify-content: center;
    }
}